{%extends "main.html" %} {%block body%} {%if page == 'login' %}

<div>
  <form action="" method="POST">
    {%csrf_token%}
    <label>Username: </label>
    <input type="text" name="username" placeholder="Enter Your Username" />

    <label>Password: </label>
    <input type="password" name="password" placeholder="Enter Your Username" />

    <input type="submit" value="Login" />
    <p>Haven't Sigged Up Yet?</p>
    <a href="{%url 'register' %}">Sign Up</a>
  </form>
</div>
{%else%}
<div>
  <form action="" method="POST">
    {%csrf_token%}
    {{form.as_p}}

    <input type="submit" value="Register" />
  </form>
  <p>Already Sigged Up?</p>
  <a href="{%url 'login' %}">Login</a>
</div>
{%endif%} {%endblock body%}
