<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <h1>We are inside app</h1>
    <h1>Author : {{author}}</h1>
    {% if age > 18%}
    <p>You are adult.</p>
    {% elif age == 18%}
    <p>You are 18.</p>
    {%else %}
    <p>Your a child</p>
    {%endif%} -->
    <table border="1px" width="500">
      <tr>
        <th>ID</th>
        <th>Course Name</th>
        <th>Course Teacher</th>
      </tr>
      {%for course in courses %}
      <tr>
        <td>{{course.id}}</td>
        <td>{{course.c_name}}</td>
        <td>{{course.t_name}}</td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
