{% extends "base.html" %}
{% load crispy_forms_tags%}

{% block content%}
<div style="width: 50%; margin: auto">
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class="bg-danger p-3 text-white"> {{er}} </p>
    {% endfor %}
    {% endif %}

    <form method="post" novalidate>
      {%csrf_token%} 
      <!-- {{form|crispy}} -->
      {% for data in form%}
      {{data.label_tag}}
      {{data}}
      {{data.errors}}
      {% endfor%}

      <button class="btn btn-info" type="submit">Submit</button>
    </form>
  </div>
  {% endblock content%}